@import url(../general/settings.css);

/*=========================
=== MAIN SECTION STYLES ===
===========================*/

/* Showcase section */

.main__showcase {
  position: relative;
  margin-bottom: 10rem;
}

.main__showcase::before {
  content: "";
  position: absolute;
  bottom: -4.5rem;
  left: 0;
  height: 6rem;
  width: 100%;
  background: url(../../images/wave-bg.png) var(--light-blue);
}

.showcase__text {
  animation: slideInFromLeft 1s ease-in;
}

.showcase__form {
  position: relative;
  top: 7rem;
  max-width: 25rem;
  min-width: 10rem;
  padding: 2rem;
  animation: slideInFromRight 1s ease-in;
}

.demo-form__input {
  margin: 1rem 0;
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 0.2rem;
  font-size: 1rem;
}

.demo-form__input:focus {
  outline: none;
}

/* Stats section */

.graphs__item {
  border-radius: 1rem;
  padding: 1.5rem;
  width: 15rem;
}

.item__heading {
  font-size: clamp(1rem, 5vw, 2rem);
}

.item__description {
  font-size: 1.5rem;
  font-weight: bold;
}

/* CLI section */
.cli__items {
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

.cli__image {
  grid-column: 1/3;
  grid-row: 1/3;
}

.cli__item {
  width: 100%;
}

/* Cloud section */

.cloud__description {
  font-size: 1.2rem;
}

/* Languages section */

.main__languages .flex-container {
  flex-wrap: wrap;
  align-items: stretch;
}

.main__languages .card {
  transition: transform 0.2s ease-in;
}

.main__languages .card:hover {
  transform: translateY(-1rem);
}

.language__item {
  margin: 1rem 0.5rem 2.5rem;
}

.language__heading {
  margin-bottom: 1rem;
}
