/*================================
=== PROJECT VARIABLES SETTINGS ===
================================*/

:root {
  /* Colors */
  --light-blue: rgb(4, 122, 237);
  --white: rgb(255, 255, 255);
  --dark-blue: rgb(0, 34, 64);
  --text-color: rgb(51, 51, 51);
  --blue: rgb(28, 63, 168);
  --gray: #333;
  --light-bg: rgb(244, 244, 244);
  --alert-success-color: #5cb85c;
}

/*=========================
=== ANIMATION KEYFRAMES ===
==========================*/

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}