@import url(settings.css);

/* Objects */
.section__heading {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  font-weight: bold;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  place-items: center;
  height: 100%;
}

/* A layout for the documentation page */
.grid-doc-layout {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

/* 3 even columns grid */
.grid-3-c {
  grid-template-columns: repeat(3, 1fr);
}

/* 3 grid rows and colums */
.grid-3c-3r {
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.wrapper__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.card {
  position: relative;
  background-color: var(--white);
  color: var(--gray);
  border-radius: 0.8rem;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.2);
  padding: 1.3rem;
  margin: 0.8rem;
}

.btn {
  padding: 0.8rem 1.8rem;
  cursor: pointer;
  border: 0;
  border-radius: 0.4rem;
  color: var(--white);
  display: inline-block;
  transition: color 0.5s, background-color 0.5s, outline 0.5s;
  font-weight: 700;
}

.btn:active {
  transform: scale(0.9);
}

.btn--outline {
  outline: 1px solid currentColor;
}

.btn--outline:hover {
  background-color: var(--white);
  color: var(--light-blue);
}

.primary-btn {
  background-color: var(--light-blue);
}

.primary-btn:hover {
  background-color: var(--white);
  outline: 1px solid currentColor;
  color: var(--light-blue);
}

.btn-dark {
  background-color: var(--dark-blue);
}

.btn-dark:hover {
  background-color: transparent;
  color: var(--white);
  outline: 1px solid currentColor;
}

/* Text utilities */
.text-center {
  text-align: center;
}

.primary-text {
  justify-self: start;
}

.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
}

.primary-description {
  font-size: 1.2rem;
}

/* Margin utilities */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

/* Padding utilities */
.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

/* Image utilities */
.section-image {
  max-width: 20rem;
}

.primary-image {
  justify-self: end;
}

/* Background color utilities */
.bg-primary {
  background-color: var(--light-blue);
  color: var(--white);
}

.bg-secondary {
  background-color: var(--dark-blue);
  color: var(--white);
}

.bg-light {
  background-color: var(--light-bg);
  color: #333;
}

/* Alerts utilities */

.alert {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.alert-success {
  background-color: var(--alert-success-color);
  color: var(--white);
}

/*===========================
=== HEADER SECTION STYLES ===
===========================*/

/* Navbar styles begin */
.header .wrapper__container {
  justify-content: space-between;
}

.header__logo {
  font-size: 2.5rem;
}

.item__link {
  font-size: 1.2rem;
  color: var(--white);
  margin: 0 0.5rem;
  padding: 0.5rem;
}

.item__link:hover {
  border-bottom: 0.1rem solid currentColor;
}
/* Navbar styles end */

/*===========================
=== FOOTER SECTION STYLES ===
===========================*/
.enterprise__heading {
  font-size: 2rem;
}

.navbar__link,
.social__link {
  color: var(--white);
}

.footer__enterprise {
  justify-self: start;
}

.footer__navbar {
  justify-self: center;
}

.footer__social {
  justify-self: end;
}

.footer__social span {
  padding: 0.5rem;
}
